<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">

    <img src="assets/images/boa.gif" alt="" class="logo">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="nav-link active" aria-current="page">Check
          Balance</a>
        <a class="nav-link" href="" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
          aria-controls="offcanvasScrolling">View Profile</a>
        <a class="nav-link" href="#">Balance Enquiry</a>
        <a class="nav-link" href="#">Money Transfer</a>
        <a class="nav-link" href="#">Account Statement</a>
        <a class="nav-link" href="#">Logout</a>
      </div>
    </div>
    
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        Dropdown button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>



    <!-- <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <h4 class="offcanvas-title container" id="offcanvasExampleLabel">Online Money Transfer</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body container"><br>
        <div>
          <form>
            <div id="a1" class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Recipient Account Number</label>
              <input type="number" class="form-control">
            </div>
            <div id="a1" class="mb-3">
              <label for="exampleInputEmail1" class="form-label">IFSC Code</label>
              <input type="text" class="form-control">
            </div>
            <div id="a1" class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Amount</label>
              <input type="number" class="form-control">
            </div>
            <div id="a1" class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control">
            </div>
            <br>
            <button type="button" class="btn btn-primary">Send Money</button>
          </form>
        </div>
        
      </div>
    </div> -->

    <!-- <p>Banking for people with better things to do!</p> -->
  </div>
</nav>